{
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "jsxBracketSameLine": true,
  "trailingComma": "all",
  "useTabs": false,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always"
}